@use '../abstracts';
@use '../base/helpers';

// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  font-size: 18px;
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */

a {
  color: abstracts.$grey;

  @extend .on-hover;
}


h1, h2, h3, h4, h5, h6 {
  color: abstracts.$white;
}

img {
  width: 100%;
  display: block;
}
