// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: "Space Grotesk", sans-serif;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

// Colores:
$input-color: #979797c5;
$grey: #d9d9d9;
$bg-body: #151515;
$green: #4EE1A0;
$dark-grey: #242424;
$hover-grey: #242424ae;
$white: #ffffff;

// heading:
$h-xl: 88px;

$h-l: 48px;
$h-linel: 58px;

$h-m: 24px;
$h-linem: 32px;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
	'small': 320px,
	'medium': 768px,
	'large': 1024px,
	'xl': 1440px,
);

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: '/assets/' !default;
