@use '../abstracts' as ab;

.main {
    // QUERY DEL MAIN -->
    @include ab.query(medium) {
        background-position: -165px 90px, -265px 99.6%;

        // Seccion Hero ---
        &__hero {
            margin: 0;
            position: relative;
            
            // contenedor de la imagen --
            &--img {
                position: absolute;
                right: -3%;
                background-color: ab.$dark-grey;
                z-index: -1;
                margin-bottom: 50px;
            }

            // Contenedor del texto --
            &--text {
                width: 70%;
                text-align: initial;
                padding-block: 10%;
                
                h1 {
                    white-space: pre-line;
                    margin-bottom: 60px;
                }

                p {
                    width: 455px;
                }
            }
        }

        // Seccion Experiensia ---
        &__expe {
            border-bottom: 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            text-align: initial;
            row-gap: 52px;
            padding-block: 52px 0;

            h3 {
                margin-bottom: 15px;
            }
        }

        // Decoracion del main experiencia ---
        &__expe::after {
            right: -18%;
            top: 30%;
        }

        // Seccion proyectos ---
        &__projects {
            
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 24px;

            &--title {
                grid-column: 1 / span 2;
                margin-bottom: 60px;
            }
        }

        // Seccion contact -->
        &__contact {
            background-position: -270px 97%;

            &--text {
                h4 {
                    margin-bottom: 40px;
                    margin-inline: auto;
                }
            }
        }
    }
}