@use '../abstracts' as ab;
@use '../base/helpers';

// font-size del h4
.style-h4 {
    font-size: clamp(40px, 9.4vw, 88px);                
    width: max-content;
}

.style-p {
    font-size: clamp(16px, 3vw, 18px);
}

// <-- MAIN VISTA MOBIL -->
.main {
    position: relative;
    overflow: hidden;
    background-image: url(../../../img/deco-body.svg);
    background-repeat: no-repeat;
    background-position: -250px 140px;

    // Seccion hero ---
    &__hero {
        margin-bottom: 80px;

        // Contenedor de la imagen ---
        &--img {
            margin-inline: auto;
            width: clamp(174px, 42vw, 445px);
            height: clamp(385px, 78.2vw, 759px);
            display: flex;
            background-image: linear-gradient(to top, ab.$dark-grey, #24242400);
            margin-bottom: 12%;

            // Imagen ---
            &__men {
                align-self: flex-end;
            }

            // Semicirculo ---
            &__circle {
                position: absolute;
                right: -65px;
                top: clamp(254px, 61.4vw, 521px);
                width: 129px;
                height: 129px;
                border: 1px solid white;
                border-radius: 50%;
            }
        }

        // Contenedor del encabezado y los textos ---
        &--text {
            text-align: center;

            // Encabezado h1 ---
            &__heading {
                font-size: clamp(40px, 9.5vw, ab.$h-xl);
                line-height: clamp(40px, 9.5vw, ab.$h-xl);
                font-weight: 700;
                letter-spacing: -1.14px;
                margin-bottom: 7%;

                // Span undeline ---
                span {
                    position: relative;
                }

                span::before {
                    @include ab.green-underline(96%, 4px, 90%);
                }
            }

            // Parrafo ---
            &__pgh {
                @extend .style-p;
                margin-bottom: 8%;
            }

            // Boton CONTACT ME---
            &__btn {
                @extend .btn;
            }

            &__btn::before {
                @include ab.green-underline(100%, 2px, 100%);
            }
        }
    }

    // Section experiencia -->
    &__expe {
        // position: relative;
        padding-block: 40px;
        text-align: center;
        border-top: 1px solid;
        border-bottom: 1px solid;

        article:not(.expe) {
            margin-bottom: 24px;
        }

        h3 {
            font-size: clamp(32px, calc(16.7px + 4.08vw), 48px);
            line-height: 40px;
        }

        p {
            font-size: clamp(16px, calc(14px + 0.525vw), 18px);
        }
    }

    // Decoracion del main experiencia --
    &__expe::after {
        content: '';
        width: 335px;
        height: 120px;
        rotate: 180deg;
        position: absolute;
        right: -37%;
        top: 72rem;
        background: url(../../../img/deco-body.svg) -70px    center/cover no-repeat;
    }

    // Seccion proyectos ---
    &__projects {
        padding-block: 80px;

        // Contenedor del h4 y a --
        &--title {
            display: flex;
            justify-content: space-between;
            margin-bottom: 12%;

            h4 {
                @extend .style-h4;
            }
        }

        // Estilos generales del contenedor --
        a {
            @extend .btn;
        }

        a::before {
            @include ab.green-underline(100%, 2px, 100%);
        }

        article:not(.proj) {
            margin-bottom: 40px;
        }
        
        // Estilos de los article --
        &--arct {
            
            &__img {
                margin-bottom: 20px;
                position: relative;
                background-color: ab.$hover-grey;
                display: grid;
                place-items: center;

                &--nav {
                    display: none;
                }
            }

            // imagen --
            img {
                position: relative;
            }

            // Titulo --
            h3 {
                font-size: ab.$h-m;
                line-height: ab.$h-linem;
                margin-bottom: 10px;
            }

            // Lenguages de progaramacion --
            &__language {
                display: flex;
                gap: 18px;
                text-transform: uppercase;
                margin-bottom: 20px;
            }

            // Botones --
            &__btn {
                a+a {
                    margin-left: 30px;
                }
            }
        }
    }

    // Seccion contact -->
    &__contact {
        padding-block: 80px;
        background-color: ab.$dark-grey;
        background-image: url(../../../img/deco-body.svg);
        background-position: -250px 85%;
        background-repeat: no-repeat;
        
        // Titulo y texto --
        &--text {
            text-align: center;

            // Heading -
            h4 {
                @extend .style-h4;
                margin-bottom: 20px;
                margin-inline: auto;
            }

            // Parrafo -
            p {
                @extend .style-p;
                margin-inline: auto;
                margin-bottom: 50px;
                max-width: 445px;
            }
        }

        // Formulario --
        &--form {
            form {
                max-width: 445px;
                margin-inline: auto;
                display: flex;
                flex-direction: column;
                gap: 32px;
                

                input, textarea, button {
                    width: 100%;
                    background-color: transparent;
                    border: 0;
                    border-bottom: 1px solid ab.$grey;
                    padding-bottom: 24px;
                    padding-left: 24px;
                    font-family: ab.$text-font-stack;
                    color: ab.$input-color;
                    outline: 0;
                }

                .input__email {
                    position: relative;
                    
                }

                input:invalid:not(:placeholder-shown) {
                    border-color: #FF6F5B;
                    background-image: url(../../../img/valid-input.svg);
                    background-repeat: no-repeat;
                    background-position-x: right;
                }

                input:invalid:not(:placeholder-shown) + .error-message::after {
                    content: 'Sorry, invalid format here';
                    color: #FF6F5B;
                    font-size: 10px;
                    position: absolute;
                    top: 90%;
                    right: 0;
                }

                input:valid:not(:placeholder-shown) {
                    border-color: ab.$green;
                }

                &:has(.input__email input:invalid:not(:placeholder-shown)) button[type="submit"] {
                    opacity: .6;
                    pointer-events: none;
                }

                button {
                    @extend .btn;
                    @extend .on-hover-btn;
                    width: fit-content;
                    padding: 0 0 10px 0;
                    align-self: end;
                    cursor: pointer;
                }

                button::before {
                    @include ab.green-underline(100%, 1px, 100%)
                }
            }
        }
    }
}
